@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Single+Day&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Single+Day&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@389&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Single+Day&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@389&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Burned&family=Single+Day&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@389&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Burned&family=Single+Day&display=swap");

:root {
  --main-color: #120404;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}
html::-wbebkit-scrollbar {
  width: 1rem;
}
html::-wbebkit-scrollbar-track {
  background: #ffffff;
}
html::-wbebkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5 rem;
}

body {
  background: #150f14;
}
section {
  padding: 4rem 9%;
}
#myBtn {
    /* display: none; Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(255, 255, 255); /* Set a background color */
    color: var(--main-color); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 20px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
.heading {
  text-align: center;
  padding-bottom: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 4rem;
}
.heading span {
  margin-top: 20px;
  color: #d40b70;
  text-transform: uppercase;
}
.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  background: rgb(255, 255, 255);
  color: #333;
  cursor: pointer;
  font-weight: 600;
}
.btn :hover {
  background: var(--main-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background: #d40b70;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5 rem 9%;
}
.header img {
  width: 8%;
  height: 10%;
}
.header .logo {
  font-weight: bolder;
  color: #fff;
  font-size: 2.5rem;
}
.header .logo span {
  color: var(--main-color);
}
.header .navbar a {
  font-size: 1.7rem;
  color: #ffffff;
  margin-right: 2rem;
  text-decoration: none;
}
.header .navbar a:hover {
  color: var(--main-color);
}
#menu-bars {
  font-size: 3rem;
  color: #fff8f8;
  cursor: pointer;
  display: none;
}
.home .content {
  text-align: center;
  padding-top: 4rem;
  margin: 4rem auto;
  max-width: 70 rem;
  padding-bottom: 7rem;
}
.home .content h3 {
  color: #d40b70;
  font-size: 5.5rem;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
}

.home .content h3 span {
  font-family: "Chakra Petch", sans-serif;

  font-weight: 600;
  color: white;
  text-transform: uppercase;
}
.home .home-slider .swiper-slide {
  overflow: hidden;
  border-radius: 0.5rem;
  height: 50rem;
  width: 40rem;
}
.home .home-slider .swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.events .box-container {
  display: grid;
  /* grid-auto-flow: column; */
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 20px;
}
.events .box-container .box {
  background-color: #fa8bff;
  background-image: linear-gradient(
    42deg,
    #181b1c 0%,
    #1e1018 72%,
    #671957 90%
  );

  border-radius: 1rem;
  /* background: #333; */
  text-align: center;
  padding: 2.5rem;
}
.events .box-container .box i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border-radius: 50%;
  font-size: 2.5rem;
  background: blueviolet;
  color: #fff;
}
.events .box-container .box h3 {
  font-size: 2rem;
  color: #fff;
  padding: 1rem 0;
}
.events .box-container .box p {
  font-size: 2rem;
  color: #fff;
  line-height: 1.4;
}
.about {
  margin: 20 20 20 20;
}
.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.about .row .image {
  flex: 1 1 45rem;
  padding: 1rem;
}
.about .row .image img {
  width: 100%;
  border-radius: 0.5rem;
  border: 1rem solid #333;
}
.about .row .content {
  flex: 1 1 45rem;
}
.about .row .content h3 {
  font-size: 3.5rem;
  color: #fff;
}
.about .row .content p {
  font-size: 1.5rem;
  color: #eee;
  padding: 1rem 0;
  line-height: 2;
}
.gallery .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1.5fr));
  gap: 1.5rem;
}
.gallery .box-container .box {
  position: relative;
  border: 1rem solid #333;
  border-radius: 1rem;
  height: 40rem;
  cursor: pointer;
  overflow: hidden;
}
.gallery .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.gallery .box-container .box:hover img {
  transform: scale(1.1);
  /* filter: grayscale(); */
  filter: brightness(125%);
}
.gallery .box-container .box .title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #fffefe;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2rem;
}
.gallery .box-container .box .icons {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fffefe;
  padding-top: 0.5rem;
  text-align: center;
}
.gallery .box-container .box .title {
  position: absolute;
  top: -10rem;
  left: 0;
  right: 0;
  background: #333;
  color: #fff;
  text-align: center;
  padding-bottom: 0.5rem;
  font-size: 2rem;
}
.gallery .box-container .box:hover .title {
  top: 0rem;
}
.gallery .box-container .box .icons {
  position: absolute;
  bottom: -10rem;
  left: 0;
  right: 0;
  background: #333;
  padding-top: 1rem;
  text-align: center;
}
.gallery .box-container .box:hover .icons {
  bottom: 0;
}
.gallery .box-container .box .icons a {
  font-size: 2rem;
  margin: 5rem 1rem;
  color: #ffffff;
  text-decoration: none;
}

.gallery .box-container .box .icons a:hover {
  color: var(--main-color);
}
.leads .box-container {
  display: grid;
  /* grid-auto-flow: column; */
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 80px;
  padding: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  align-content: space-between;

}
.leads .box-container .box {
  padding: 1rem 0;
  background-color: #fa8bff;
  background-image: linear-gradient(
    42deg,
    #181b1c 0%,
    #1e1018 72%,
    #671957 90%
  );
  border-radius: 0.7rem;
  text-align: center;
}
.leads .box-container .box:hover {
  transform: scale(1.1);
}
.leads .box-container .box .title {
  background: #d40b70;
  color: #fff;
  padding: 2rem 0;
  font-size: 2rem;
}
.leads .box-container .box .amount {
  color: #ffffff;
  padding-top: 2rem;
  font-size: 4rem;
}
.leads .box-container .box ul {
  list-style-type: none;
  padding: 1rem 0;
}
.leads .box-container .box ul li {
  font-size: 1.5rem;
  color: #eee;
  padding: 1.6rem 0;
}
.leads .box-container .box ul li i {
  margin-right: 10px;
  font-size: 1.5rem;
  color: #eee;
  padding: 1rem 0;
}

/*Media Queries */
@media (max-width: 995px) {
  html {
    font-size: 45%;
  }
  .header {
    padding: 1rem 1rem;
  }
  section {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  #menu-bars {
    display: initial;
  }
  .header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-top: 0.1rem solid #222;
    background: #333;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar .active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .fa-times {
    transform: rotate(180deg);
  }
  .header .navbar a {
    display: flex;
    background: #222;
    border-radius: 0.5rem;
    padding: 1.3rem;
    margin: 1.3rem;
    font-size: 2rem;
  }
  .home .content h3 {
    font-size: 4rem;
  }
  .review .box {
    position: relative;
    border-radius: 0.5rem;
    background: #333;
    padding: 2rem;
  }
  .review .box .fa-quote-right {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #d40b70;
    font-size: 3rem;
  }
  .review .box .user {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 2rem;
  }
  .review .box .user img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
  }
  .review .box .user h3 {
    font-size: 1rem;
    color: #fff;
    text-align: left;
  }
  .review .box .user span {
    font-size: 1rem;
    color: #eee;
  }
  .review .box p {
    line-height: 2;
    color: #eee;
    padding: 0.5rem 0;
    font-size: 0rem;
  }
  .text {
    font-size: small;
  }
  .footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
  }
  .footer .box-container .box h3 {
    font-size: 2.5rem;
    padding: 1rem 0;
    color: #000000;
  }
  .footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    padding: 1rem 0;
    color: #eee;
  }
  .footer .box-container .box a i {
    padding-right: 5rem;
    color: pink;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home .home-slider .swiper-slide {
    width: 30rem;
  }
}
